<?xml version="1.0" encoding="utf-8" ?>

<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <!-- Default Container -->
  <container name="application">

    <!-- Application Controller -->
    <register type="SmallQyest.IAppController, SmallQyest" mapTo="SmallQyest.AppController, SmallQyest">
      <lifetime type="singleton" />
      <property name="ViewModelFactory" />
      <property name="LevelProvider" />
      <property name="Logger" />
    </register>

    <!-- View Models -->
    <register name="mainMenu" type="SmallQyest.IViewModel, SmallQyest" mapTo="SmallQyest.ViewModels.MenuViewModel, SmallQyest">
      <property name="AppController" />
      <property name="Logger" />
    </register>
    <register name="level" type="SmallQyest.IViewModel, SmallQyest" mapTo="SmallQyest.ViewModels.LevelViewModel, SmallQyest">
      <property name="AppController" />
      <property name="Logger" />
    </register>

    <!-- Logger -->
    <register type="Logging.ILogger, Logging" mapTo="SmallQyest.log4netLogger, SmallQyest">
      <lifetime type="singleton" />
    </register>

    <!-- Level Provider-->
    <register type="SmallQyest.World.ILevelSerializationService, SmallQyest.World" mapTo="SmallQyest.World.Serialization.AsciiLevelSerializer, SmallQyest.World.Serialization">
      <lifetime type="singleton" />
      <constructor>
        <param name="itemFactory" />
      </constructor>
    </register>

    <register type="SmallQyest.World.ILevelProvider, SmallQyest.World" mapTo="SmallQyest.MockLevelProvider, SmallQyest">
      <lifetime type="singleton" />
      <property name="LevelSerializer" />
    </register>

  </container>

  <alias alias="Item" type="SmallQyest.World.Item, SmallQyest.World" />

  <container name="world">
    <register type="SmallQyest.World.Level, SmallQyest.World" mapTo="SmallQyest.DispatcherLevel, SmallQyest">
      <constructor>
        <param name="map" />
        <param name="logger" />
      </constructor>
    </register>

    <register type="SmallQyest.World.Map, SmallQyest.World" mapTo="SmallQyest.DebugMap, SmallQyest">
      <constructor>
        <param name="logger" />
      </constructor>
    </register>

    <!-- World Items -->
    <register name="grass" type="Item" mapTo="SmallQyest.World.Tiles.Grass, SmallQyest.World" />
    <register name="path" type="Item" mapTo="SmallQyest.World.Tiles.Path, SmallQyest.World" />
    <register name="player" type="Item" mapTo="SmallQyest.World.Actors.Player, SmallQyest.World" />

    <register name="levelStart" type="Item" mapTo="SmallQyest.World.Triggers.PlayerSpawnTrigger, SmallQyest.World" />
    <register name="levelEnd" type="Item" mapTo="SmallQyest.World.Triggers.LevelEndTrigger, SmallQyest.World" />

    <register name="fallTrap" type="Item" mapTo="SmallQyest.World.Things.FallTrap, SmallQyest.World" />
    <register name="oneTimePassObstacle" type="Item" mapTo="SmallQyest.World.Things.OneTimePassObstacle, SmallQyest.World" />
    <register name="moveableObstacle" type="Item" mapTo="SmallQyest.World.Things.MoveableObstacle, SmallQyest.World" />
  </container>
</unity>