<?xml version="1.0" encoding="utf-8" ?>

<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <!-- Default Container -->
  <container name="application">
    <!-- Application Container -->
    <register type="SmallQyest.IAppController, SmallQyest"
              mapTo="SmallQyest.AppController, SmallQyest">
      <lifetime type="singleton" />
      <property name="ViewModelFactory" />
      <property name="LevelProvider" />
      <property name="Logger" />
    </register>

    <!-- View Models -->
    <register name="mainMenu"
              type="SmallQyest.IViewModel, SmallQyest"
              mapTo="SmallQyest.ViewModels.MenuViewModel, SmallQyest">
      <property name="AppController" />
      <property name="Logger" />
    </register>
    <register name="level"
              type="SmallQyest.IViewModel, SmallQyest"
              mapTo="SmallQyest.ViewModels.LevelViewModel, SmallQyest">
      <property name="AppController" />
      <property name="Logger" />
    </register>

    <!-- Logger -->
    <register type="Logging.ILogger, Logging"
              mapTo="SmallQyest.log4netLogger, SmallQyest">
      <lifetime type="singleton" />
    </register>

    <!-- Level Provider-->
    <register type="SmallQyest.Core.ILevelProvider, SmallQyest.Core"
              mapTo="SmallQyest.MockLevelProvider, SmallQyest">
      <lifetime type="singleton" />
      <property name="ItemFactory" />
    </register>

  </container>

  <alias alias="IItem" type="SmallQyest.Core.IItem, SmallQyest.Core" />
  <container name="world">
    <register type="SmallQyest.Core.ILevel, SmallQyest.Core" mapTo="SmallQyest.World.GameLevel, SmallQyest.World">
      <property name="Logger" />
    </register>
    <register type="SmallQyest.Core.IMap, SmallQyest.Core" mapTo="SmallQyest.World.GameMap, SmallQyest.World">
      <property name="Logger" />
    </register>
    <!-- World Items -->
    <register name="grass" type="IItem" mapTo="SmallQyest.World.Tiles.Grass, SmallQyest.World">
      <property name="Logger" />
    </register>
    <register name="path" type="IItem" mapTo="SmallQyest.World.Tiles.Path, SmallQyest.World">
      <property name="Logger" />
    </register>
    <register name="player" type="IItem" mapTo="SmallQyest.World.Characters.Player, SmallQyest.World">
      <property name="Logger" />
    </register>

    <register name="levelStart" type="IItem" mapTo="SmallQyest.World.Triggers.LevelStartTrigger, SmallQyest.World">
      <property name="Logger" />
    </register>
    <register name="levelEnd" type="IItem" mapTo="SmallQyest.World.Triggers.LevelEndTrigger, SmallQyest.World">
      <property name="Logger" />
    </register>

    <register name="fallTrap" type="IItem" mapTo="SmallQyest.World.Things.FallTrap, SmallQyest.World">
      <property name="Logger" />
    </register>
    <register name="oneTimePassObstacle" type="IItem" mapTo="SmallQyest.World.Things.OneTimePassObstacle, SmallQyest.World">
      <property name="Logger" />
    </register>

  </container>
</unity>