<?xml version="1.0" encoding="utf-8" ?>

<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <!-- Default Container -->
  <container name="default">
    <!-- Application Container -->
    <register type="SmallQyest.IAppController, SmallQyest"
              mapTo="SmallQyest.AppController, SmallQyest">
      <lifetime type="singleton" />
      <property name="ViewModelFactory" />
      <property name="LevelProvider" />
      <property name="Logger" />
    </register>

    <!-- View Models -->
    <register name="mainMenu"
              type="SmallQyest.IViewModel, SmallQyest"
              mapTo="SmallQyest.ViewModels.MenuViewModel, SmallQyest">
      <property name="AppController" />
      <property name="Logger" />
    </register>
    <register name="level"
              type="SmallQyest.IViewModel, SmallQyest"
              mapTo="SmallQyest.ViewModels.LevelViewModel, SmallQyest">
      <property name="AppController" />
      <property name="Logger" />
    </register>

    <!-- Level Provider-->
    <register type="SmallQyest.Core.ILevelProvider, SmallQyest.Core"
              mapTo="SmallQyest.MockLevelProvider, SmallQyest">
      <lifetime type="singleton" />
    </register>

    <!-- Logger -->
    <register type="Logging.ILogger, Logging"
              mapTo="SmallQyest.log4netLogger, SmallQyest">
      <lifetime type="singleton" />
    </register>
  </container>
</unity>